{
	"token": "",
	"default prefix": "tfr!",
	"owner id": 0,
	"bot admins": [
        1,
	],
	"font_file": "./Assets/Fonts/Roboto-Regular.ttf",
	"xp_cooldown": 60,
	"openweathermap_key": "",
	"webhook": "",
	"timely_amount": 20,
	"currency_name": ""
}